html
    head 
        title='Logout'
        body 
            div
                h2=message
                    button( class='register-btn' type="submit" onclick="window.location.href='/login'") Ir a Login